parameters:
	level: 8
	paths:
		- src
	typeAliases:
		VoidPromise: "Generator<mixed, 'all'|'once'|'race'|'reject'|'resolve'|array{'resolve'}|Generator<mixed, mixed, mixed, mixed>|null, mixed, void>"
	ignoreErrors:
		-
			message: "#^Left side of && is always false\\.$#"
			paths:
				- src/*
		-
			message: "#^Parameter \\$[A-Za-z0-9_]+ of .* expects SOFe\\\\Capital\\\\ParameterizedLabelSelector\\<[^>]+\\>, .*$#"
			paths:
				- src/*


includes:
	- ./phpstan-baseline.neon
