parameters:
	ignoreErrors:
		-
			message: "#^While loop condition is always true\\.$#"
			count: 1
			path: src/SOFe/Capital/Cache/CacheInstance.php

		-
			message: "#^Yield can be used only with these return types\\: Generator, Iterator, Traversable, iterable\\.$#"
			count: 1
			path: src/SOFe/Capital/Cache/LabelSelectorCacheType.php

		-
			message: "#^Parameter \\#3 \\$catches of static method SOFe\\\\AwaitGenerator\\\\Await\\<mixed\\>\\:\\:g2c\\(\\) expects array\\<string, callable\\(Throwable\\)\\: void\\>\\|\\(callable\\(Throwable\\)\\: void\\), array\\{\\}\\|array\\{SOFe\\\\Capital\\\\CapitalException\\: Closure\\(SOFe\\\\Capital\\\\CapitalException\\)\\: void\\} given\\.$#"
			count: 1
			path: src/SOFe/Capital/Capital.php

		-
			message: "#^Parameter \\#2 \\$selectorLabels of class SOFe\\\\Capital\\\\Player\\\\InitialAccount constructor expects SOFe\\\\Capital\\\\ParameterizedLabelSelector\\<SOFe\\\\InfoAPI\\\\PlayerInfo\\>, SOFe\\\\Capital\\\\ParameterizedLabelSelector\\<SOFe\\\\InfoAPI\\\\Info\\> given\\.$#"
			count: 1
			path: src/SOFe/Capital/Player/PlayerConfig.php

		-
			message: "#^Parameter \\#3 \\$migrationLabels of class SOFe\\\\Capital\\\\Player\\\\InitialAccount constructor expects SOFe\\\\Capital\\\\ParameterizedLabelSelector\\<SOFe\\\\InfoAPI\\\\PlayerInfo\\>, SOFe\\\\Capital\\\\ParameterizedLabelSelector\\<SOFe\\\\InfoAPI\\\\Info\\> given\\.$#"
			count: 1
			path: src/SOFe/Capital/Player/PlayerConfig.php

		-
			message: "#^Parameter \\#4 \\$initialLabels of class SOFe\\\\Capital\\\\Player\\\\InitialAccount constructor expects SOFe\\\\Capital\\\\ParameterizedLabelSelector\\<SOFe\\\\InfoAPI\\\\PlayerInfo\\>, SOFe\\\\Capital\\\\ParameterizedLabelSelector\\<SOFe\\\\InfoAPI\\\\Info\\> given\\.$#"
			count: 1
			path: src/SOFe/Capital/Player/PlayerConfig.php

		-
			message: "#^Parameter \\#5 \\$overwriteLabels of class SOFe\\\\Capital\\\\Player\\\\InitialAccount constructor expects SOFe\\\\Capital\\\\ParameterizedLabelSelector\\<SOFe\\\\InfoAPI\\\\PlayerInfo\\>, SOFe\\\\Capital\\\\ParameterizedLabelSelector\\<SOFe\\\\InfoAPI\\\\Info\\> given\\.$#"
			count: 1
			path: src/SOFe/Capital/Player/PlayerConfig.php

		-
			message: "#^Parameter \\#4 \\$src of class SOFe\\\\Capital\\\\Transfer\\\\CommandTransferMethod constructor expects SOFe\\\\Capital\\\\ParameterizedLabelSelector\\<SOFe\\\\Capital\\\\Transfer\\\\SimpleTransferContextInfo\\>, SOFe\\\\Capital\\\\ParameterizedLabelSelector\\<SOFe\\\\InfoAPI\\\\Info\\> given\\.$#"
			count: 3
			path: src/SOFe/Capital/Transfer/TransferConfig.php

		-
			message: "#^Parameter \\#5 \\$dest of class SOFe\\\\Capital\\\\Transfer\\\\CommandTransferMethod constructor expects SOFe\\\\Capital\\\\ParameterizedLabelSelector\\<SOFe\\\\Capital\\\\Transfer\\\\SimpleTransferContextInfo\\>, SOFe\\\\Capital\\\\ParameterizedLabelSelector\\<SOFe\\\\InfoAPI\\\\Info\\> given\\.$#"
			count: 3
			path: src/SOFe/Capital/Transfer/TransferConfig.php

		-
			message: "#^Parameter \\#9 \\$transactionLabels of class SOFe\\\\Capital\\\\Transfer\\\\CommandTransferMethod constructor expects SOFe\\\\Capital\\\\ParameterizedLabelSet\\<SOFe\\\\Capital\\\\Transfer\\\\SimpleTransferContextInfo\\>, SOFe\\\\Capital\\\\ParameterizedLabelSet\\<SOFe\\\\InfoAPI\\\\Info\\> given\\.$#"
			count: 3
			path: src/SOFe/Capital/Transfer/TransferConfig.php

